* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  background-color: #fff;
}

section {
  padding-top: 75px;
}

.controls {
  position: absolute;
  bottom: 10vh;
}